body {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: rgb(154, 173, 192);
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 500px;
}

.screen {
  border: 2px solid blue;
  flex: 4;
}

.result {
  border: 2px solid pink;
  flex: 1;
}

.buttons {
  border: 2px solid green;
  flex: 20;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.button {
  font-size: 32px;
  height: 60px;
  width: 60px;
}
